{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        io.github.swirrl/grafter.io {:mvn/version "3.0.0-SNAPSHOT"}
        io.github.swirrl/grafter.repository {:mvn/version "3.0.0-SNAPSHOT"}
        selmer/selmer {:mvn/version "1.0.4"}}}
